@model RegistrationRequestDTO

<form method="post">
    <div class="container border p-3">
        <div class="row text-center">
            <h1>Register</h1>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 pb-2">
                <input asp-for="Email" class="form-control" placeholder="Email..." />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="col-md-6 offset-md-3 pb-2">
                <input asp-for="Name" class="form-control" placeholder="Name..." />
                <span asp-validation-for="Name"></span>

            </div>
            <div class="col-md-6 offset-md-3 pb-2">
                <input asp-for="PhoneNumber" class="form-control" placeholder="PhoneNumber..." />
                <span asp-validation-for="PhoneNumber"></span>

            </div>
            <div class="col-md-6 offset-md-3 pb-2">
                <select asp-for="Role" class="form-select" asp-items="@ViewBag.RoleList">
                    <option disabled  selected>--selected Role--</option>

               </select>
             @*    <input  class="form-control" placeholder="Role..." />
                <span asp-validation-for="Role"></span> *@

            </div>
            <div class="col-md-6 offset-md-3 pb-2">
                <input asp-for="Password" class="form-control" placeholder="Password..." />
                <span asp-validation-for="Password"></span>
            </div>
            
            <div class="col-md-6 offset-md-3 pb-2">
                <button type="submit" class="form-control btn btn-success" value="Submit">Register</button>
            </div>
        </div>
    </div>
</form> 
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}